<div class="min-w-screen
min-h-screen
bg-teal-900
flex
items-center
justify-center
px-5
py-5">
  <div class="w-full
  mx-auto
  rounded-xl
  shadow-xl
  text-gray-800
  relative
  overflow-hidden"
  style="max-width: 350px;"
  >
    <h1 class="text-center text-white  py-10 text-3xl font-bold"> Angular Calculator</h1>
    <!-- calculator screen -->
    <div class="w-full
    h-50
    bg-gradient-to-b
    from-gray-800
    to-gray-700
    text-right">
      <!-- function screen -->
      <div class="w-full
      py-3
      px-6
      text-2xl
      text-white
      font-thin">{{myFunc}}</div>

      <!-- Number screen -->
      <div class="w-full
      py-2
      px-6
      text-1xl
      text-white
      font-thin">{{firstNumber | number:'0.0-6'}}</div>

      <div class="w-full
      py-3
      px-6
      text-6xl
      text-white
      font-thin">{{display | number:'0.0-6'}}</div>
    </div>
    <!-- End of Calculator Screen -->

    <!-- Calculator Buttons area -->
    <div class="w-full
    bg-gradient-to-b
    from-red-500
    to-red-800">
    <!-- first row -->
      <div class="flex w-full">
          <div class="w-2/4 border-r border-b border-red-400">
            <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('C','function')">C</button>
          </div>
          <div class="w-1/4 border-r border-b border-red-400">
            <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('%','function')">%</button>
          </div>
          <div class="w-1/4 border-r border-b border-red-400">
            <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('/','function')">/</button>
          </div>
      </div>
      <!-- first row ends -->
      <!-- second row begins -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('7','number')">7</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('8','number')">8</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('9','number')">9</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('*','function')">*</button>
        </div>
      </div>
      <!-- second row ends -->
      <!-- third row begins -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('6','number')">6</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('5','number')">5</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('4','number')">4</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('-','function')">-</button>
        </div>
      </div>
      <!-- third row ends -->
      <!-- fourth row begins -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('1','number')">1</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('2','number')">2</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('3','number')">3</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('+','function')">+</button>
        </div>
      </div>
      <!-- fourth row ends -->
      <!-- fifth row begins -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('0','number')">0</button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('.','number')">.</button>
        </div>
        <div class="w-2/4 border-r border-b border-red-400">
          <button class="w-full h-16 outline-none focus:outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light" (click)="handleBtnClick('=','function')">=</button>
        </div>
      </div>
      <!-- fifth row ends -->

    </div>
  </div>
</div>